<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/products/mqsstylesproducts.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
    <main>

        <h1>Ganancias</h1>
       
        <h3 class="reservation-info">Selecciona un mes para obtener la ganancia mensual y diaria </h3>

        <form action="/finance/incomes/report" method="GET">
            <label for="date">Fecha</label>
            <select name="date" id="date">
                <option value="value1">17/11/2020</option> 
            </select>
            <button class="btn2" type="submit">Agregar</button>
        </form>

    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>