<div id="container">
    <header id="topmenu" role="menu">
        <!-- Top bar -->

        <div class="mobile-menu">
            <!-- Menu icon for screens under 800px -->
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div id="mobile-menu-pages">
            <a href="/">Inicio</a>
            <a href="#">Órdenes</a>
            <a href="/solicitar-inspeccion">Crear Orden</a>
            <a href="/auth/login">Login</a>

        </div>

        <div id="mobile-request-icon">
            <a href="/solicitar-inspeccion"><i class="fas fa-file-signature"></i></a>
        </div>

        <div id="logo">
            <a href="/"><img src="/media/logo.png"></a>
        </div>

        <div id="mobile-login-icon">
            <a href="/auth/login"><i class="fas fa-user"></i></a>
        </div>

        <nav id="menu-pages">
            <!-- Main links -->
            <a href="/">Inicio</a>
            <a href="#">Órdenes</a>
        </nav>

        <nav id="menu-main-pages">
            <!-- Main buttons -->
            <a href="/solicitar-inspeccion" id="btn-request"><i class="fas fa-file-signature"></i>Generar Orden</a>
            <a href="/auth/login" id="btn-login"><i class="fas fa-user"></i>Login</a>
        </nav>
    </header>