<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/stylesindex.css">
<link rel="stylesheet" href="/css/mqsstylesindex.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <section id="main-cover">
        <div id="main-cover-content">
            <h1>Restaurante Siglo XXI</h1>
            <p>Experiencia gastronómica como nunca</p>
            <a href="/solicitar-inspeccion.html">Ingresar</a>
        </div>
    </section>


    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>