.table { 
  
    border-collapse:separate; 
    border-spacing:1em 1em; 
    text-align:left;
    font-size:.9em;
    width:60%;
    margin-left:2em;
    margin-right:2em;
    border:1px solid #e9ecf0;
    padding-left:2em;
    padding-right:2em;
    padding-top:1em;
    padding-bottom:1em;
    
  
   
}

.panel {
    width:100%;
    padding-left:2em;
    padding-right:10em;
    display:flex;
    margin-bottom:2em;
    justify-content:space-between;
}

.btn2 {
    background-color:#f0f0f0;

padding-top:1em;
padding-bottom:1em;
padding-left:2em;
padding-right:2em;
border-style:none;
color:black;
}

.btn2:hover{
    
    transition:0.9s;
    
}

.btn3 {

background-color:red ;
padding-top:1em;
padding-bottom:1em;
padding-left:2em;
padding-right:2em;
border-style:none;
color:white;
font-weight:bold;
}
.table table {
    
    width:100%;
}
table th {
    color:#5a8aff;
}
table td button {
    margin-left:2px;
}

.product {
    border:1px solid #e9ecf0;
    padding-left:2em;
    padding-right:2em;
    padding-top:1em;
    padding-bottom:1em;
    width:30%;
}

main h1{
    padding-top:0px;
    margin-top:0px;
}

select {
    width: 50%;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-top:1em;
  }
  
  
.product input[type=number] {
    border: 2px solid lightblue;
    border-radius: 4px;
    margin-top:1em;
    
  }
.product h4{
    font-weight:normal;
}

.float-right{
    margin-top:3em;
    float:right;
}